<footer>
    <div class="foot-box">
        <div class="f-box1">

        </div>
        <div class="f-box2">
                <div class="icons">
                    <div class="icon-box1">
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <div class="icon-box">
                        <i class="fa-brands fa-youtube"></i>
                    </div>
                    <div class="icon-box">
                        <i class="fa-brands fa-twitter"></i>
                </div>
            </div>

        </div>
        <div class="f-box3">

        </div>
    </div>
    <div class="foot-box2">

    </div>
</footer>