{% extends 'base.html' %}
{% block content %}
{% include 'header.html' %}
{% include 'view.html' %}
<main>
    <div class="magh-box">
        <img class="img-1" src="../static/img/2.jpg" alt="">
        <div class="p-box">
            <div class="b-box">

            </div>
        </div>
    </div>
    <div class="magh-box">
        <img class="img-2" src="../static/img/3.jpg" alt="">
        <div class="p-box1">
            <div class="b-box">
                
            </div>
        </div>
    </div>
    <div class="magh-box">
        <img class="img-3" src="../static/img/5.jpg" alt="">
        <div class="p-box">
            <div class="b-box">
                
            </div>
        </div>
    </div>
</main>

{% include 'footer.html' %}
{% endblock %}